/*heder*/
.immagine-papera {
    height: 50px;
}

.btn {
    color: white;
    background-color: none;
    border-color: white;

}

.main-container {
    display: flex;
    padding-top: 30px;
    justify-content: space-around;
    align-items: center;
}